<!-- BEGIN: main -->
<div class="vk-slider vk-slick-slider {CLASS_NAME}" data-slick='{SLIDER_OPTION}'>
    <!-- BEGIN: loop -->
    <div class="item {WRAPPER_ITEM}">
        <div class="vk-img-frame">
            <a href="{IMG}" class="vk-img" data-lightbox="image-slide-{NUMBER}">
                <img src="{IMG}" alt="">
            </a>
        </div>
        <ul class="content">
            <li class="title">{TITLE}</li>
            <li class="position">{POSITION}</li>
        </ul>
    </div>
    <!-- END: loop -->
</div>
<!--./vk-slider-->
<!-- END: main -->