<!-- begin: blog_item -->
<div class="{WRAPPER} _item">
    <div class="vk-blog-item">

        <a href="{LINK}" title="{TITLE}" class="vk-img vk-img--cover">
            <img src="images/{IMG}" alt="{TITLE}" class="vk-img__img">
        </a>

        <div class="vk-blog-item__brief">
            <h3 class="vk-blog-item__title"><a href="{LINK}" title="{TITLE}">{TITLE}</a></h3>
            <div class="vk-blog-item__text"><p>{TEXT}</p></div>
            <div class="vk-blog-item__button">
                <a href="{LINK}" class="vk-btn vk-btn--outline-yellow-1">Chi tiết</a>
            </div>
        </div>
    </div> <!--./vk-blog-item-->
</div>
<!-- end: blog_item -->

<!-- begin: project_item -->
<div class="{WRAPPER} _item">
    <div class="vk-project-item {CLASS}">

        <a href="{LINK}" title="{TITLE}" class="vk-img vk-img--cover">
            <img src="images/{IMG}" alt="{TITLE}" class="vk-img__img">
        </a>

        <div class="vk-project-item__brief" onclick="window.location.href='{LINK}'">
            <div class="vk-project-item__wrapper">
                <h3 class="vk-project-item__title"><a href="{LINK}" title="{TITLE}">{TITLE}</a></h3>
                <div class="vk-project-item__text"><p>{TEXT}</p></div>
                <div class="vk-project-item__button">
                    <a href="{LINK}" class="vk-btn"><img src="images/icon-4.png" alt=""></a>
                </div>
            </div>

        </div>
    </div> <!--./vk-project-item-->
</div>
<!-- end: project_item -->

<!-- begin: project_item_1 -->
<div class="{WRAPPER} _item">

    <div class="vk-project-item {CLASS}">

        <a href="{LINK}" title="{TITLE}" class="vk-img vk-img--cover">
            <img src="images/{IMG}" alt="{TITLE}" class="vk-img__img">
        </a>

        <a class="vk-project-item__brief _material-item"  href="javascript:void(0);" data-index="{ID}" >
            <div class="vk-project-item__wrapper">
                <h3 class="vk-project-item__title">{TITLE}</h3>
                <div class="vk-project-item__text"><p>{TEXT}</p></div>
            </div>


        </a>

    </div> <!--./vk-project-item-->
</div>
<!-- end: project_item_1 -->

<!-- begin: project_gallery_item -->
<div class="{WRAPPER} _item">
    <div class="vk-project-item vk-project-item--style-3">
        <a href="images/p-detail-10.jpg" title="{TITLE}" class="vk-img vk-img--cover" data-fancybox="gallery">
            <img src="images/{IMG}" alt="{TITLE}" class="vk-img__img">
        </a>

    </div> <!--./vk-project-item-->
</div>
<!-- end: project_gallery_item -->


<!-- begin: service_item -->
<div class="{WRAPPER} _item">
    <div class="vk-service-item {CLASS}">
        <div class="vk-img vk-img--mw100">
            <img src="images/{IMG}" alt="">
        </div>
        <div class="vk-service-item__brief">
            <h3 class="vk-service-item__title">{TITLE}</h3>
            <div class="vk-service-item__text">
                <p>{TEXT}</p>
            </div>
        </div>
    </div> <!--./vk-project-item-->
</div>
<!-- end: service_item -->


<!-- begin: service_item_2 -->
<div class="{WRAPPER} _item" data-layout="masonry-item">
    <div class="vk-service-item {CLASS}">
        <div class="vk-img vk-img--cover">
            <img src="images/{IMG}" alt="">
        </div>
        <div class="vk-service-item__brief">
            <div class="vk-service-item__wrapper">
                <h3 class="vk-service-item__title"><a href="{LINK}">{TITLE}</a></h3>
                <!-- begin: text -->
                <div class="vk-service-item__text">
                    <p>{TEXT}</p>
                </div>
                <!-- end: text -->
                <div class="vk-service-item__button">
                    <a href="{LINK}" class="vk-btn vk-btn--outline-white">CHI TIẾT</a>
                </div>

            </div>
        </div>
    </div> <!--./vk-project-item-->
</div>
<!-- end: service_item_2 -->

<!-- begin: partner_item -->
<div class="{WRAPPER} _item">
    <div class="vk-partner-item">
        <div class="vk-img vk-img--mw100">
            <img src="images/{IMG}" alt="">
        </div>
        <div class="vk-partner-item__brief">
            <div class="vk-partner-item__text">
                <p>{TEXT}</p>
            </div>
        </div>
    </div> <!--./vk-project-item-->
</div>
<!-- end: partner_item -->
