<!-- begin: main -->

<ul class="vk-nav vk-nav__tabs nav nav-tabs" id="myTab" role="tablist">
    <!-- begin: nav_loop -->
    <li class="vk-nav__item nav-item">
        <a class="vk-nav__link nav-link {ACTIVE}" data-toggle="tab" href="#tab{ID}" role="tab">{TITLE}</a>
    </li>
    <!-- end: nav_loop -->
</ul> <!--./vk-tab__nav-->


<div class="vk-tab__content tab-content">
    <!-- begin: content_loop -->
    <div class="vk-tab__pane tab-pane {ACTIVE}" id="tab{ID}" role="tabpanel">
        {CONTENT}
    </div>
    <!-- end: content_loop -->
</div> <!--./vk-tab__content-->

<!-- end: main -->
