<!-- BEGIN: main -->
<div class="{WRAPPER} item">
    <div class="vk-testimonial">
        <div class="avatar">
            <div class="vk-img-frame">
                <a href="{IMG_LINK}" class="vk-img">
                    <img src="images/testimonial/{IMG}.jpg" alt="">
                </a>
            </div>
            <div class="profile">
                <span class="name">{NAME}</span>
                <span class="position">{POSITION}</span>
            </div>
        </div>
        <!--./avatar-->

        <div class="content">
            <i class="fa fa-quote-left"></i>
            <p class="vk-text">{TEXT}</p>
        </div>
        <!-- ./content-->
    </div>
    <!--./testimonial-->
</div>
<!-- END: main -->