<!-- BEGIN: main -->
</section>
<!--./content-->

<footer class="vk-footer">

    <div class="vk-footer__top">
        <div class="container">
            <div class="row vk-footer__row">
                <div class="col-lg-5">
                    <div class="vk-footer__item">
                        <a href="index.php" class="vk-footer__logo">
                            <img src="images/logo-2.png" alt="">
                        </a>

                        <ul class="vk-footer__list-icon vk-list">
                            <li class="vk-list__item"><i class="_icon fa fa-map-marker"></i>
                                <p>Văn phòng Hà Nội: Tầng 6, nhà C, số 22 Thành Công, Ba Đình</p>
                                <p>Văn phòng Quảng Ninh: Ô 15-16, Lô B32 KĐT Cao Xanh - TP Hạ Long</p>
                                <p>Xưởng nội thất: KCN Bình Phú, Canh Nậu, Thạch Thất, Hà Tây </p>
                            </li>
                            <li class="vk-list__item"><i class="_icon fa fa-phone"></i> <a href="callto:0901.01.01.69">0901.01.01.69</a></li>
                            <li class="vk-list__item"><i class="_icon fa fa-envelope"></i> <a href="mailto:aaahome.vn@gmail.com">aaahome.vn@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="vk-footer__item">
                        <h2 class="vk-footer__title">Dịch vụ</h2>
                        <ul class="vk-footer__list vk-list">
                            <li class="vk-list__item"><a href="#">thiết kế và thi công trọn gói</a></li>
                            <li class="vk-list__item"><a href="#"></a>Thiết kế kiến trúc và nội thất</li>
                            <li class="vk-list__item"><a href="#">Thi công nội thất</a></li>
                            <li class="vk-list__item"><a href="#">Sửa chữa cải tạo</a></li>
                            <li class="vk-list__item"><a href="#">Thiết kế nhà theo phong thủy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="vk-footer__item">

                        <h2 class="vk-footer__title">&nbsp;</h2>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=636475073366509&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-page" data-href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Nh%C3%A0-%C4%90%E1%BA%B9p-Phong-Thu%E1%BB%B7-132959804193749/" data-tabs="timeline" data-height="203" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Nh%C3%A0-%C4%90%E1%BA%B9p-Phong-Thu%E1%BB%B7-132959804193749/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Nh%C3%A0-%C4%90%E1%BA%B9p-Phong-Thu%E1%BB%B7-132959804193749/">Thiết Kế Nhà Đẹp Phong Thuỷ</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="vk-footer__bot">
        <div class="container">
            <div class="vk-footer__bot-content">
                <div class="_coppyright">© GCO GROUP 2017. All rights reserved</div>
                <ul class="vk-list vk-list--inline vk-list--social vk-footer__social">
                    <li class="vk-list__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="vk-list__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="vk-list__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
    </div> <!--./vk-footer__bot-->
</footer><!--./vk-footer-->
<nav class="" id="menu">
    <ul class="">
        <li class=""><a href="index.php">Trang chủ</a></li>
        <li class=""><a href="about.php">Giới thiệu</a></li>
        <li class="">
            <a href="project.php">Dự án</a>
            <ul class="">
                <li class=""><a href="project.php">thiết kế và thi công trọn gói</a></li>
                <li class=""><a href="project.php">Thi công nội thất</a></li>
                <li class=""><a href="project.php">Thiết kế và thi công nội thất</a></li>
                <li class=""><a href="project.php">sửa chữa cải tạo</a></li>
                <li class=""><a href="project.php">thiết kế nhà theo phong thủy</a></li>
            </ul>
        </li>
        <li class=""><a href="blog.php">Tin tức</a></li>
        <li class=""><a href="material.php">Vật liệu dự án</a></li>
    </ul>
</nav>
<!-- END: main -->