<!-- BEGIN:shop_item -->
    <div class="{WRAPPER} item">
        <div class="vk-shop-item">
            <div class="vk-img-frame">
                <a href="{LINK}" class="vk-img">
                    <img src="images/shop/shop_item/{IMG}.jpg" alt="">
                </a>
            </div>

            <div class="vk-brief-shop-item">
                <h3 class="vk-title"><a href="{LINK}">Sữa dưỡng da 100% thiên nhiên</a></h3>
                <div class="vk-price">50.000đ</div>
                <div class="vk-button">
                    <a href="#" class="vk-btn vk-buy">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
<!-- END:shop_item -->

<!-- BEGIN:shop_item_1 -->
<div class="{WRAPPER} item">
    <div class="vk-shop-item">
        <div class="vk-img-frame">
            <a href="{LINK}" class="vk-img">
                <img src="images/shop/shop_item/{IMG}.jpg" alt="">
                <span class="vk-title-click">Xem chi tiết</span>
            </a>
        </div>

        <div class="vk-brief-shop-item">
            <h3 class="vk-title"><a href="{LINK}">Sữa dưỡng da 100% thiên nhiên</a></h3>
            <div class="vk-price">50.000đ</div>
            <div class="vk-button">
                <a href="#" class="vk-btn vk-buy">Mua ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- END:shop_item_1 -->

<!-- BEGIN:shop_item_2 -->
<div class="{WRAPPER} item">
    <div class="vk-shop-item">
        <div class="vk-img-frame">
            <a href="{LINK}" class="vk-img">
                <img src="images/shop/shop_item/{IMG}.jpg" alt="">
                <span class="vk-title-click">Xem chi tiết</span>
            </a>
        </div>

        <div class="vk-brief-shop-item">
            <h3 class="vk-title"><a href="{LINK}">Sữa dưỡng da 100% thiên nhiên</a></h3>
            <div class="vk-price">50.000đ</div>
        </div>
    </div>
</div>
<!-- END:shop_item_2 -->

<!-- BEGIN:shop_item_3 -->
<div class="{WRAPPER} item">
    <div class="vk-shop-item">
        <div class="vk-img-frame">
            {SALE}
            <a href="{LINK}" class="vk-img">
                <img src="images/shop/shop_item/{IMG}.jpg" alt="">
                <span class="vk-title-click">Xem chi tiết</span>
            </a>
        </div>

        <div class="vk-brief-shop-item">
            <h3 class="vk-title"><a href="{LINK}">Sữa dưỡng da 100% thiên nhiên</a></h3>
            <div class="vk-price">45.000đ</div>
            <div class="vk-price-old">{PRICE_OLD}</div>
        </div>
    </div>
</div>
<!-- END:shop_item_3 -->