<!-- BEGIN: main -->
<div class="vk-cate vk-cate-page">
    <h3 class="vk-heading text-uppercase">Danh mục</h3>
    <ul class="vk-list vk-list-menu-cate" data-menu="menu-cate">
        <li class="has-child active">
            <a href="trang-diem.php">trang điểm</a>
            <ul class="vk-nav-chid vk-list">
                <li><a href="#">Mascaras &amp; kẻ mắt</a> </li>
                <li><a href="#">Phấn &amp; kem nền</a> </li>
                <li><a href="#">Son môi &amp; dưỡng</a> </li>
            </ul>
        </li>
        <li class="has-child ">
            <a href="khuyen-mai.php">Khuyến mại</a>
            <ul class="vk-nav-chid vk-list">
                <li><a href="#">Mascaras &amp; kẻ mắt</a> </li>
                <li><a href="#">Phấn &amp; kem nền</a> </li>
                <li><a href="#">Son môi &amp; dưỡng</a> </li>
            </ul>
        </li>
        <li><a href="duong-toc.php">dưỡng tóc</a></li>
        <li><a href="duong-da.php">dưỡng da</a></li>
        <li><a href="duong-the.php">dưỡng thể</a></li>
    </ul>
</div>
<!-- END: main -->